/* Created by TopStyle Trial - www.topstyle4.com */
table {
	border: 1px solid #000;
	font-family: Verdana, tehoma, sans-serif;
	box-shadow: 0 0 4px #333;
}

tr {
	background-color:#9400d3;
}

tr:active {
	background-color:#000;
}

tr:hover {
	background-color: #fff;
}
.divider , .divider:hover { /**Överskrider tidigare färgjustering specifikt för att avgränsaren inte skall byta färg. **/
	background-color: black;
}

tr {
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;	
}



